.main{margin-top:50px; padding-top:20px;}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
. {
    margin-top: 10px;
}
.panel-body{
	padding: 40px;
}
.panel-footer {
	padding: 10px 40px;
}
.main-content{
	padding: 20px 40px;
}
.news-title span{
	font-size: 14px;
	color: #777;
	text-decoration: underline;
}
.news-control a{
	margin-right: 8px;
}

.news-control input{
	margin-right: 16px;
    }
.news-control{
    margin-top: 40px;
}


footer{
	text-align: center;
	padding: 20px;
    background-color: #f5f5f5;
    border-top:  1px solid #bdbdbd;
}